<div>
<%= form_for(User.new) do |f| %>
  <% if User.new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-horizontal">
  <div class="col-md-6">
    <div class="control-group">
       <%= f.text_field :name, :placeholder => "Victim's Name" %>
    </div>
  </div>
</div>
<div class="form-horizontal">
  <div class="col-md-6">
    <div class="control-group">
    <%= f.text_field :address, :placeholder => "Address Line" %>
    </div>
  </div>
</div>
<div class="form-horizontal">
  <div class="col-md-6">
    <div class="control-group">
    <%= f.text_field :city, :placeholder => "City" %>
    </div>
  </div>
</div>
<div class="form-horizontal">
  <div class="col-md-6">
    <div class="control-group">
    <%= f.text_field :state, :placeholder => "State" %>
    </div>
  </div>
</div>
<div class="form-horizontal">
  <div class="col-md-6">
    <div class="control-group">
    <%= f.text_field :zip, :placeholder => "Zip Code" %>
    </div>
  </div>
</div>
<div class="form-horizontal">
  <div class="col-md-6">
    <div class="control-group">
    <%= f.text_field :country, :placeholder => "Country" %>
    </div>
  </div>
</div>
<div class="form-horizontal">
  <div class="col-md-6">
    <div class="control-group">
    <%= f.text_field :design, :placeholder => "Pick Your Design Number (1-9)" %>
    </div>
  </div>
</div>
<% end %>
</div>
